<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408682010430-pi61mc7n5isg84o7dp0fgvo0qs5kha2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408682010430-pi61mc7n5isg84o7dp0fgvo0qs5kha2k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>408682010430-dan7qvih8oib7kihglihdc4d2g78rrf7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVCgRPM6gtNoEa2vOPp3sTPOZaSdW3ibU</string>
	<key>GCM_SENDER_ID</key>
	<string>408682010430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayvnl.yass</string>
	<key>PROJECT_ID</key>
	<string>yass-ef19a</string>
	<key>STORAGE_BUCKET</key>
	<string>yass-ef19a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408682010430:ios:fc481049055656c3ecbe6f</string>
	<key>DATABASE_URL</key>
	<string>https://yass-ef19a.firebaseio.com</string>
</dict>
</plist>